.homeBox {
  width: 100vw;
  height: 100vh;
  // background: #FFF;
  padding: 180px 20%;
  background-image: url('../../assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}

.history {
  background: #000;
}

.input {
  height: 40px;
  font-size: 16px;
  width: 600px;
  margin-right: 12px;
}

.button {
  height: 40px;
  font-size: 16px;
}